body {
  --primary: #ff9b6a;
  --background-color: #0e0925;
  background-color: var(--background-color);
  padding-bottom: 1em;
}

header {
  min-height: 10vh;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 3;
}

.landing-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
  min-height: 105vh;
}

section {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-heading {
  align-items: center;
  width: 50%;
  text-align: center;
}

.section-heading img {
  max-width: 40%;
}

#about .section-heading img {
  border-radius: 50%;
}

#cv .section-heading {
  padding-bottom: 1em;
}

.section-content {
  padding-right: 1em;
  padding-left: 1em;
  width: 50%;
}

.section-content li {
  list-style-type: "> ";
}

@media (max-width: 800px) {
  .section-heading {
    width: 100%;
  }

  .section-content {
    width: 100%;
  }
}

nav {
  font-size: 1em;
  text-transform: uppercase;
  justify-content: flex-start;
}

footer {
  text-transform: uppercase;
}

.orange-background {
  background-color: var(--primary);
}

.orange-background li,
.orange-background h1,
.orange-background p {
  color: var(--background-color);
}

.logo {
  max-width: 50vw;
}

.nav-logo {
  max-width: 5vw;
}

.image-portrait {
  max-width: 10vw;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
