body {
  --primary: #ff9b6a;
  --background-color: hsl(250, 60%, 9%);
  background-color: var(--background-color);
  padding-bottom: 1em;
}

header {
  min-height: 10vh;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 3;
}

.landing-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
  min-height: 105vh;
}

section {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
}

.section-heading {
  align-items: flex-end;
  padding-left: 1em;
  min-width: 10vw;
}

.section-content {
  padding-right: 1em;
  padding-left: 1em;
}

nav {
  font-size: 1em;
  text-transform: uppercase;
  justify-content: flex-start;
}

footer {
  text-transform: uppercase;
}

.orange-background {
  background-color: var(--primary);
}

.orange-background li,
.orange-background h1 {
  color: var(--background-color) !important;
}

.logo {
  max-width: 50vw;
}

.nav-logo {
  max-width: 5vw;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
