body {
  background-color: hsl(250, 60%, 9%);
  --primary: #ff9b6a;
  padding-bottom: 1em;
}

header {
  min-height: 10vh;
  position: sticky;
  top: 0;
  background-color: hsl(250, 60%, 9%);
  z-index: 3;
}

.landing-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
  min-height: 100vh;
}

section {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5%;
  row-gap: 1em;
}

nav {
  font-size: 1em;
  text-transform: uppercase;
  justify-content: flex-start;
}

footer {
  text-transform: uppercase;
}

.logo {
  max-width: 50vw;
}

.nav-logo {
  max-width: 5vw;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
